/* Contact Section */

#contact {
  padding: 100px 0 40px 0;
  color: #fff;
  &:after {
    content: "";
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    transform: scale(1.1);
    bottom: 0;
    filter: blur(5px) brightness(0.5);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-image: url("../img/contact.jpg");
  }
  /*  background: #67B26F;
  background: linear-gradient(to top, #4ca2cd, #67B26F);*/
  h1 {
    color: #fff;
  }
  hr {
    background: rgba(255, 255, 255, 0.3);
  }
  h3 {
    padding-top: 20px;
    font-size: 20px;
    font-weight: 400;
    color: #fff;
  }
  form {
    padding: 30px 0;
  }
  i.fa {
    color: #fff;
    margin-bottom: 10px;
  }
  a {
    display: block;
    color: #fff;
    margin: 0 0 10px;
    font-size: 18px;
    line-height: 26px;

    &:hover {
      color: rgba(#fff, 0.8);
      filter: blur(0.75px);
    }
  }
  p {
    font-size: 18px;
    line-height: 26px;
  }
  .text-danger {
    color: #E87E04;
    text-align: left;
  }

  .contact-item {
    i {
      display: block;
      margin-bottom: 10px
    }
  }
}

label {
  font-size: 12px;
  font-weight: 400;
  font-family: 'Open Sans', sans-serif;
  float: left;
}

.btn {
  &:active, &.active {
    background-image: none;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
}

a:focus {
  outline: none;
  outline-offset: none;
}

.btn {
  &:focus, &:active:focus, &.active:focus, &.focus, &:active.focus, &.active.focus {
    outline: none;
    outline-offset: none;
  }
}

#contact {
  .social {
    margin-top: 60px;

    a {
      color: #fff;
      transition: color 0.5s ease-in-out;
      &:hover {
        i {
          color: rgba(#fff, 0.8);
            filter: blur(.75px);
        }
      }
    }
    ul li {
      display: inline-block;
      margin: 0 20px;
    }
    i.fas {
      font-size: 30px;
      padding: 4px 5px;
      color: #fff;
      &:hover {
        color: #121d1f;
      }
    }
  }
  .btn {
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 0;
    padding: 10px 20px;
    color: #fff;
    margin-top: 15px;
    &:hover, &:focus {
      background-color: #121d1f;
      border: 1px solid #121d1f;
    }
  }
}

