/* Footer Section*/

#footer {
  background: #121d1f;
  color: #7d8384;
  padding: 30px 0 25px 0;
  p {
    font-size: 13px;
  }
  a {
    color: #a0a5a5;
    &:hover {
      color: #4ca2cd;
    }
  }
}