/* Portfolio Section */
@import '../../node_modules/bootstrap/scss/bootstrap';

#portfolio {
  padding: 80px 0;
  background: #ffffff;
  background: linear-gradient(to bottom, #ffffff 0%, #f4f5f6 49%, #ffffff 100%);
}

.portfolio-item {
  margin: 15px 0;
  transition: all 0.5s ease-out;
  &:hover {
    transform: scale(1.1);
  }
  .hover-bg {
    overflow: hidden;
    position: relative;
  }
  img {
    width: 100%;
  }
}

.hover-bg {
  .hover-text {
    position: absolute;
    text-align: center;
    margin: 0 auto;
    color: #ffffff;
    background: rgba(0, 0, 0, 0.66);
    padding: 33% 0 0 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: all 0.5s;
    > h4 {
      opacity: 0;
      color: #fff;
      font-weight: 400;
      -webkit-transform: translateY(100%);
      transform: translateY(100%);
      transition: all 0.3s;
    }
  }
  &:hover .hover-text > h4 {
    opacity: 1;
    -webkit-backface-visibility: hidden;
    transform: translateY(0);
  }
  .hover-text > i {
    opacity: 0;
    transform: translateY(0);
    transition: all 0.3s;
  }
  &:hover .hover-text {
    > i {
      opacity: 1;
      -webkit-backface-visibility: hidden;
      transform: translateY(100%);
    }
    opacity: 1;
  }
}

#portfolio i.fa {
  font-size: 20px;
  padding: 5px;
  color: #E87E04;
}

@include media-breakpoint-down(xs) {
  .hover-bg .hover-text > h4 {
    opacity: 1;
    -webkit-backface-visibility: hidden;
    transform: translateY(0);
  }
  .hover-bg .hover-text {
    > i {
      opacity: 1;
      -webkit-backface-visibility: hidden;
      transform: translateY(100%);
    }
    opacity: 1;
  }
}