/* Resume Section */

#resume {
  padding: 100px 0;
  background: #f6f6f6;
}

.timeline {
  position: relative;
  padding: 0;
  list-style: none;
  &:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 40px;
    width: 2px;
    margin-left: -1.5px;
    background-color: #eee;
  }
  > li {
    position: relative;
    margin-bottom: 50px;
    min-height: 50px;
    &:before {
      content: " ";
      display: table;
    }
    &:after {
      content: " ";
      display: table;
      clear: both;
    }
    .timeline-panel {
      float: right;
      position: relative;
      width: 100%;
      padding: 0 20px 0 100px;
      text-align: left;
      &:before {
        right: auto;
        left: -15px;
        border-right-width: 15px;
        border-left-width: 0;
      }
      &:after {
        right: auto;
        left: -14px;
        border-right-width: 14px;
        border-left-width: 0;
      }
    }
    .timeline-image {
      z-index: 100;
      position: absolute;
      left: 0;
      width: 70px;
      height: 70px;
      margin-left: 0;
      border: 1px solid #eee;
      border-radius: 100%;
      text-align: center;
      background: #fff;
      h4 {
        margin-top: 20px;
        font-size: 10px;
        text-transform: uppercase;
      }
    }
    &.timeline-inverted > .timeline-panel {
      float: right;
      padding: 0 20px 0 100px;
      text-align: left;
      &:before {
        right: auto;
        left: -15px;
        border-right-width: 15px;
        border-left-width: 0;
      }
      &:after {
        right: auto;
        left: -14px;
        border-right-width: 14px;
        border-left-width: 0;
      }
    }
    &:last-child {
      margin-bottom: 40px;
    }
  }
  .timeline-heading {
    h4 {
      margin-top: 0;
      text-transform: uppercase;
    }
    h2 {
      margin-top: 30px;
    }
    h4.subheading {
      text-transform: none;
      color: #4ca2cd;
      font-size: 20px;
    }
  }
  .timeline-body > {
    p, ul {
      margin-bottom: 0;
    }
  }
}